<!-- <div class="container">
  <div class="row">
      <blockquote class="text-center text-lg">
          <p>
              This is data: {{user.login}}
              This is data: {{user.following}}
              This is data: {{user.created_at|date}}
              This is data: {{user.following}}
              <!-- Repository: {{newRepo.name}} -->
          <!-- </p>

      </blockquote> -->
<!-- 
  </div> -->

<!-- </div> -->


<form accept="" id="SearchForm">
  <div class="form-group">
    <!-- <input type="text" class="form-control" placeholder="Search GitHub profiles using username" [(ngModel)]="username" name="username"(keydown)="findProfile()"> -->
    <input type="text" class="form-control" placeholder="GitHub username" [(ngModel)]="username" name="username">
  
  </div>
  <button type="button" class="btn btn-primary"
  (click) ="findUserProfile()">Search GitHub Profile
  </button>
</form>


<hr>
<div *ngIf="user"> 
  <div class="panel panel-default">
    <div class="panel-heading">
        {{user.name}}({{user.login}})
      <!-- <span *ngIf profile.location>,Located at {{user.location}}</span> -->
       
    </div>
    <div panel-body>
      <div class="row">
        <div class="col-sm-3">
          <img src="{{user.avatar_url}}" class="img-square img-responsive" alt="Profile Image">

        </div>
        <div class="col-sm-5">
          <ul class="li-group">
              <li class="list-group-item" *ngIf="user.created_at">Profile created on: {{user.created_at|date}}</li>
            <li class="list-group-item" *ngIf="user.bio">BIO: {{user.bio}}</li>
            <li class="list-group-item" *ngIf="user.blog">Blog: <a href="{{user.blog}}" target="_blank">{{user.blog}}</a></li>
            <li class="list-group-item" *ngIf="user.email">Email: <a href="emailto:{{user.email}}">{{user.email}}</a></li>
            <br >
            <li class="btn btn-success btn-sm" *ngIf="user.followers"> {{user.followers}} Followers</li><br >
            
            <li class="btn btn-info btn-sm" *ngIf="user.following"> Following: {{user.following}}</li><br >
            <li class="btn btn-dark btn-sm" *ngIf="user.public_repos"> Repositories: {{user.public_repos}}</li><br >
            <li class="btn btn-warning btn-sm" *ngIf="user.public_gists"> GIST: {{user.public_gists}}</li><br >
            <br/>
            <p>
                <a href="{{user.html_url}}" target="_blank" class="btn btn-success btn-bg">View profile on GitHub</a>
              </p>
          </ul>

        </div>

        <div class="col-sm-4">
          <div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Repositories</h4>
                <div class="panel-body" *ngFor="let repo of repos">
                  <p>
                    {{repo.name}}</p>
                    <p><a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-warning">View project in GitHub</a>
                  <p>
                  {{repo.description}}
                </p>
                <hr>

                </div>

              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
 
  </div>


</div>

