<form accept="" id="SearchForm">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search GitHub profiles using username" [(ngModel)]="username" name="username"(keydown)="findProfile()">
  </div>

</form>
<div *ngIf="profile"> 
  <div class="panel panel-default">
    <div class="panel-heading">
      {{profile.name}}<small>({{profile.login}})</small>
      <span *ngIf profile.location>,Located at {{profile.location}}</span>
       
    </div>
    <div panel-body>
      <div class="row">
        <div class="col-sm-3">
          <img src="{{profile.avatar_url}}" class="img-square img-responsive" alt="Profile Image">

        </div>
        <div class="col-sm-5">
          <ul class="li-group">
              <li class="list-group-item" *ngIf="profile.created_at">Profile created on: {{profile.created_at|date}}</li>
            <li class="list-group-item" *ngIf="profile.bio">BIO: {{profile.bio}}</li>
            <li class="list-group-item" *ngIf="profile.blog">Blog: <a href="{{profile.blog}}" target="_blank">{{profile.blog}}</a></li>
            <li class="list-group-item" *ngIf="profile.email">Email: <a href="emailto:{{profile.email}}">{{profile.email}}</a></li>
            <br >
            <li class="btn btn-success btn-sm" *ngIf="profile.followers"> {{profile.followers}} Followers</li><br >
            
            <li class="btn btn-info btn-sm" *ngIf="profile.following"> Following: {{profile.following}}</li><br >
            <li class="btn btn-dark btn-sm" *ngIf="profile.public_repos"> Repositories: {{profile.public_repos}}</li><br >
            <li class="btn btn-warning btn-sm" *ngIf="profile.public_gists"> GIST: {{profile.public_gists}}</li><br >
            <br/>
            <p>
                <a href="{{profile.html_url}}" target="_blank" class="btn btn-success btn-bg">View profile on GitHub</a>
              </p>
          </ul>

        </div>

        <div class="col-sm-4">
          <div>
            <!-- <p>
              <span class="label label-success" *ngIf="profile.followers"> {{profile.followers}}Followers</span>
              <span class="label label-info" *ngIf="profile.following"> Following: {{profile.following}}</span>
              <span class="label label-dark" *ngIf="profile.public_repos"> Repositories: {{profile.public_repos}}</span>
              <span class="label label-warning" *ngIf="profile.public_gists"> GIST: {{profile.public_gists}}</span>

            </p> -->
            <!-- <p>
              <a href="{{profile.html_url}}" target="_blank" class="btn btn-success btn-sm">View profile on GitHub</a>
            </p> -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Repositories</h4>
                <div class="panel-body" *ngFor="let repo of repos">
                  <p>
                    {{repo.name}}</p>
                    <p><a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-warning">View project in GitHub</a>
                  <p>
                  {{repo.description}}
                </p>
                <hr>

                </div>

              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
 
  </div>


</div>

